@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Start of Gamer */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  filter: drop-shadow(4px 0 8px rgb(0, 0, 0, 0.2));
}

.flip-card-front {
  background-color: transparent;
  color: black;
  overflow: hidden;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.void {
  background-color: black;
  border-radius: 50%;
  height: 0px;
  width: 0px;
  z-index: -1;
  transition: height 0.5s, width 0.5s, border-radius 0.5s;
}

.trigger:hover > .void {
  border-radius: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes blink {
  0% {
    background-color: rgb(250 204 21 / 1);
  }
  100% {
    background-color: none;
  }
}

.color-blink {
  animation: blink 1s infinite;
}

/* End of Gamer */
