@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.desktop-icon {
  width: 18%;
}

.void {
  left: 57.1%;
  right: 12.7%;
  top: 37.5%;
  bottom: 29.1%;
  transition: all 1s;
}

.void-consume {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.invisible-transition {
  transition: visibility 0.2s, opacity 0.2s;
}

.object-transition {
  transition: visibility 0s, transform 0.5s;
}

/* Start of Gamer */

@keyframes blink {
  0% {
    background-color: rgb(250 204 21 / 1);
  }
  100% {
    background-color: none;
  }
}

.color-blink {
  animation: blink 1s infinite;
}

.smash-card {
  background: rgb(128 128 128 / 0.2);
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.smash-card-content {
  position: relative;
  z-index: 1;
}

.smash-img {
  height: 16rem!important;
  object-fit: cover;
  object-position: center;
}

.blob {
  filter: blur(50px);
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background: rgba(255, 68, 0, 0.8);
}

.fake-blob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  filter: drop-shadow(4px 0 8px rgb(0, 0, 0, 0.2));
}

.flip-card-front {
  background-color: transparent;
  color: black;
  overflow: hidden;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  min-width: 100%;
  display: flex;
}

.carousel_photo {
  width: 50%;
  margin: auto;
  z-index: 100;
  transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.carousel_button-prev,
.carousel_button-next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}

.carousel_button-prev {
  left:8%;
}
.carousel_button-next {
  right:8%;
}

.carousel_button-prev::after,
.carousel_button-next::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 54%;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  transform: translate(-50%, -50%) rotate(135deg);
  filter: drop-shadow(0 0 5px #38b6f1);
  transition: border-right 500ms, border-bottom 500ms, filter 500ms;
}

.carousel_button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.disable-arrow::after {
  border-right: 5px solid gray;
  border-bottom: 5px solid gray;
  filter: none;
}

#question-block-1:hover {
  cursor: url(../public/Mario/coin.png) 28 32, auto;
}

#question-block-2:hover {
  cursor: url(../public/Mario/mushroom.png) 32 32, auto;
}

#question-block-3:hover {
  cursor: url(../public/Mario/flower.png) 32 32, auto;
}

#question-block-4:hover {
  cursor: url(../public/Mario/star.png) 32 32, auto;
}

#chest-block:hover {
  cursor: url(../public/Mario/Mario1.png) 64 36, auto;
}

.dirt-block:hover {
  cursor: url(../public/Minecraft/shovel.png) 16 16, auto;
}

.stone-block:hover {
  cursor: url(../public/Minecraft/pickaxe.png) 16 16, auto;
}

/* End of Gamer */

/* Start of Misc */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* End of Misc */
